language: python
python:
- '3.6'
- nightly
install:
- pip install pytest-cov
- pip install codecov
- pip install -e .
script:
- py.test --cov=./
after_success:
- codecov
deploy:
  provider: pypi
  user: siku2
  password:
    secure: st33VyBbTweHjqBN+l502ckde80sdEbGw6H4xd+lJaf8QwDU9mQmwtX8YIaVv2cMcrHa2evOaPhYHaZeqsp0HRL5/RuSuL69V8LloSf2XwRXZsPfJArSqUda07yyHdgRVYRNliOBixMFhpdPyegJGNG6IbeGGtqNRFjORKXN5sBR5jWAQRJLL5FhGVQ7vipDps/jWHyD2onLFr7P0GEq7Ijk+8ABSX08/aQxTifvyV3PF5wAgrFicKFKe3MXDhOEem5YKysmn1d4ykqBNZbDQRlzgESpQNuqMqKkzTHPiIuQ9U4IPnyPoKLkNOm9JS7NnaQ4fEY1+L4sXOyswGmv/n1dryoP+qbtmYq/pxnAJW/XSJ0SCQ9W08mCKnBgiBt2Mvi8jfU3yjR6BM3nbqFuCaKymdhsFslf4D2si5EfKaHT60qOwnYQ2EQW9c4+19Zrml1Q4tIfnNZye2+4KGSBZXZHhi9qvB+w/lekPS0wUJVcnWGdihaJEtTFA3RJ/4rjez73Pe+wNHCRZ1OW+xQ0srC/r8IWYFJjZ9pGEUlK3N2PMfMP3sIF2B0jMgWx7Xrjz/McS4C1JTgRRwkRyR5KVCsH/Gwquxgp9E9g2tTaeKfFd4jZ2ul8CRrDxqadwlU07wCLAuOUtlYGkGmQqt1Nc98vhKkCAllfMk4t9Uk9jok=
  on:
    tags: true
    branch: master
